@import url('https://fonts.googleapis.com/css2?family=Abel&family=Raleway:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Abel', sans-serif;
    font-weight: 300;
    color: white;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

/* headings and logo */

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    color: #290c29;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    color: white;
}

header {
    background-color: #290c29;
    height: 65px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

/* Navigation */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    float: right;
}

#menu,
#logo {
    line-height: 75px;
}

#menu a {
    list-style-type: none;
    margin: 40px;
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}

/* Home page */

#home-page {
    height: 500px;
    padding-top: 65px;
    margin: 0px 50px 0px 50px;
}

#home-left {
    background-color: white;
    float: left;
    color: #290c29;

    padding: 120px 0 200px 50px;
    margin-top: 400px;
}

#home-left h1 {
    color: #290c29;
    text-align: center;
    padding-top: 25px;
    font-size: 2.5rem;
}

#home-left p {
    font-size: 1.2rem;
}

hr {
    border-top: 1px solid #290c29;
    width: 100%;
    margin: 5px 0;
}

/* Home image */

#home-img {
    background: url('../images/pexels-photo-office.jpeg') no-repeat center;
    width: 100%;
    padding-top: 50px;
    position: absolute;
    background-size: cover;
    height: 450px;
    left: 0;
}

/* Home -> contact nav */

#contact-nav {
    padding: 0px 0px 50px 230px;
    position: absolute;
    top: 600px;
    left: 57%;

}

#contact-nav a {
    color: white;
    text-decoration: none;
    border: 1px solid #290c29;
    background-color: #290c29;
    border-radius: 10px;
    padding: 0px 50px 0px 50px;
    font-size: 2rem;
}

/* Footer */

footer {
    height: 65px;
    width: 100%;
    background-color: #290c29;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media i {
    color: white;
    font-size: 150%;
    line-height: 75px;
    letter-spacing: 40px;
}

/* About Page */
#about-page {
    color: #290c29;
    height: 270px;
    margin: 120px 50px 0 50px;
}

#about-page p,
li {
    font-size: 1.3rem;
}

#about-left {
    width: 40%;
    float: left;
}

#about-left h1,
#about-right h1 {
    text-align: center;
    font-size: 2rem;

}

#about-right {
    width: 40%;
    float: right;
}

/* About Team */

#about-team {
    color: #290c29;
    height: 190px;
}

#about-team h2 {
    text-align: center;
    text-decoration: underline 1px solid #290c29;
    padding-bottom: 20px;
}

#about-team h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
}

#about-team p {
    font-size: 1.2rem;
    left: 20px;
}

#left-team {
    width: 30%;
    float: left;
    height: 250px;
}

#left-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

#right-team {
    width: 30%;
    float: right;
    height: 250px;
}

#right-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

#center-team {
    width: 30%;
    margin: 0 auto;
    height: 150px;
}

#center-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.team-img p {
    padding-left: 65px;
}

#send,
#reset {
    padding: 15px 15px 15px 15px;
    margin: 5px;
    width: 70px;
    color: #290c29;
}

#send:hover {
    color: rgb(100, 97, 97);
}

#reset:hover {
    color: red;
}

/* Contact Page */

.form {
    width: 100%;
}

.contact-form {
    color: white;
    height: 500px;
    width: auto;
    padding-top: 160px;
    float: left;
    padding-left: 50px;
    margin-left: 100px;
}

form {
    background-color: #290c29;
    padding: 50px 40px;
    border-radius: 10%;
}

.form h1 {
    text-align: left;
    margin-bottom: 15px;
    color: white;
}

.tinput {
    border: 1px solid #290c29;
    margin: 5px 5px 15px 0px;
    height: 30px;
    display: block;
    width: 90%;
    padding: 0px 10px;
}

.tinput:hover {
    border: 1px dashed #290c29;
}

#contact-info {
    width: 55%;
    height: 400px;
    margin-top: 200px;
    margin-bottom: 200px;
    float: right;
}

#contact-info h1 {
    color: #290c29;
    font-size: 2rem;
    margin-bottom: 50px;
    text-align: center;
}

#list-info {
    color: #290c29;
    width: 50%;
    height: inherit;
    float: left;
}

#contact-table tr {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#contact-table {
    width: 100%;
    height: 200px;
}

#contact-img {
    width: 50%;
    height: inherit;
    float: right;
}

/* https://stackoverflow.com/questions/3029422/how-do-i-auto-resize-an-image-to-fit-a-div-container */
#contact-img img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 20px;

}


/* Media queries */

/* 1200px wide and down */
@media screen and (max-width: 1230px) {
    #contact-table tr {
        font-size: 1.3rem;
    }

    form {
        padding: 50px 30px;
    }

}

@media screen and (max-width: 1200px) {

    /* Home page */
    /* #home-left, #contact-nav {
        width: 65%;
    } */

    #home-left h1 {
        font-size: 2rem;
    }

    #home-left p {
        font-size: 1rem;
    }

    #contact-nav {
        padding-left: 20%;
    }

    #contact-nav a {
        padding: 0px 25px 0px 25px;
        font-size: 1.7rem;
    }



    /* About page */
    #about-page {
        margin: 12% 25px 0 25px;
    }

    #about-page p,
    li {
        font-size: 1.1rem;
    }

    #about-page h1 {
        font-size: 1.5rem;
    }

    .team-img {
        margin-bottom: 100px;
    }

    /* Contact Page */

    .contact-form {
        float: none;
        width: 395px;
        display: block;
        padding-left: 0px;
        padding-top: 160px;
        margin: 0 auto;
    }

    #contact-info {
        float: none;
        display: block;
        margin-top: 0px;
        width: 100%;
    }

    #contact-img {
        width: 45%;
        margin-right: 5%;
    }

    footer {
        position: fixed;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

}

@media screen and (max-width: 800px) {

    header {
        width: 102%;
    }

    #menu {
        font-size: 95%;
    }

    #home-left {
        padding-left: 0px;

    }

    #home-img {
        width: 110%;
    }

    #contact-nav {
        top: 700px;
        left: 5%;
        padding-left: 10%;
    }

    #home-left h1 {
        text-align: left;
        padding-top: 2px;
        font-size: 1.5rem;
    }

    #contact-nav a {
        padding: 0px 25px 0px 25px;
        font-size: 2rem;
    }

    /* About page */

    #about-page p {
        font-size: 0.95rem;
    }

    /* #left-team {
    float: none;
   margin: 0 auto;
}

#right-team  {
    float: none;
    margin: 0 auto;
}

#center-team {
    float: none;
    margin: 0 auto;
} */

    #left-img,
    #right-img,
    #center-img {
        height: 170px;
        float: none;
        margin: 0 auto;
    }

    #about-team h2 {
        padding-bottom: 10px;
    }

}

/* 600 width */

@media screen and (max-width: 600px) {

    #logo {
        font-size: 175%;
    }

    header {
        width: 115%;
    }

    #home-nav {
        display: none;
    }

    #home-img {
        width: 115%;
        height: 400px;
    }

    #home-left h1 {
        font-size: 1.3rem;
    }

    #contact-nav a {
        font-size: 1.7rem;
    }

    #contact-nav {
        top: 750px;
    }

    /* About Page */
    #about-team {
        position: absolute;
    }

    #about-page {
        margin-top: 100px;
    }

    #about-left p, #about-right li {
        font-size: 1rem;
        
    }

    #about-team {
        top: 450px;
        left: 40%;
        margin: 0 auto;
    
    }

    #left-team {
        float: none;
        margin: 0 auto;
        width: 80%;
       
    }

    #right-team {
        float: none;
        margin: 0 auto;
        width: 80%;
    }

    #right-team p {
        font-size: 1rem;
    }

    #center-team {
        float: none;
        margin: 0 auto;
        width: 80%;
        
    }

    .team-img p {
        padding-bottom: 100px;
        padding-left: 0px;
        position: absolute;
    
    }


}


/* Kanske  */

@media screen and (max-width: 530px) {
    #about-team {
        top: 550px;
    }
}