@import url('https://fonts.googleapis.com/css2?family=Abel&family=Raleway:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Abel', sans-serif;
    font-weight: 300;
    color: white;
    /* background-color: white; */
}


/* headings and logo */

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    color: white;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

header {
    background-color: #290c29;
    height: 64px;
}

/* Navigation */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    float: right;
}

#menu,
#logo {
    line-height: 75px;
}

#menu a {
    list-style-type: none;
    margin: 40px;
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}

/* Main page */
/* IMPORTANT!!!! kolla om man endast får ha % eller px när det kommer till Width and height */

#home-page {
    height: 500px;
    margin: 100px 50px 50px 50px;
}

/* width 40 image 60% */

#home-left {
    background-color: #fff;
    width: 40%;
    height: 100%;
    float: left;
    color: #290c29;
}

#home-left h1 {
    color: white;
}

#home-left h1 {
    color: #290c29;
    text-align: left;
    padding-top: 25px;
}

hr {
    border-top: 1px solid #290c29;
    width: 100%;
    margin: 5px 0;
}

/* image */

#home-right {
    background: url('../images/pexels-photo-office.jpeg') no-repeat center;
    width: 40%;
    height: 100%;
    float: right;
    /* margin-right: 50px; */
    border-radius: 25%;
}