@import url('https://fonts.googleapis.com/css2?family=Abel&family=Raleway:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Abel', sans-serif;
    font-weight: 300;
    color:white;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}


/* headings and logo */

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    color: #290c29;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    color: white;
}

header {
    background-color: #290c29;
    height: 65px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

/* Navigation */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    float: right;
    
}

#menu,
#logo {
    line-height: 75px;
}

#menu a {
    list-style-type: none;
    margin: 40px;
    text-decoration: none;
    color:inherit;
}

#menu a:hover {
    border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}

/* Main page */

#home-page {
    height: 500px;
    padding-top: 15px;
    margin: 82.5px 50px 0px 50px;
}

/* width 40 image 60% (check width) */

#home-left {
    background-color: white;
    width: 40%;
    /* height: 100%; */
    float: left;
    color: #290c29;
    /* text-align: center; */
    padding: 140px 0 200px 50px;
}


#home-left h1 {
    color: #290c29;
    text-align: center;
    padding-top: 25px;
}

hr {
    border-top: 1px solid #290c29;
    width: 100%;
    margin: 5px 0;
}

/* image */

#home-right {
    background: url('../images/pexels-photo-office.jpeg') no-repeat center;
    width: 40%;
    height: 100%;
    float: right;
    padding-top: 50px;
    border-radius: 25%;
    margin-top: 25px;
}

/* Home -> contact nav */

#contact-nav {
padding: 0px 0px 50px 270px;

}

#contact-nav a {
    color: white;
    text-decoration: none;
    border: 1px solid #290c29;
    background-color: #290c29;
    border-radius: 10px;
    /* appearance: button; */
    padding: 0px 50px 0px 50px;
    font-size: 2rem;

}


/* footer */
footer {
    height: 65px;
    width: 100%;
    background-color: #290c29;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
}

.social-media {
    text-align: center;
}

.social-media >li {
    display: inline;
}

.social-media i {
    color: white;
    font-size: 150%;
    line-height: 75px;
    letter-spacing: 40px;
}

/* About page */
#about-page {
    color: #290c29;
    height: 300px;
    margin: 120px 50px 0 50px;
}

#about-left {
    width: 40%;
    float: left;
}

#about-left h1 {
    text-align: center;
}

#about-right {
    width: 40%;
    float: right;
}

#about-right h1 {
    text-align: center;
}

/* team */

#about-team {
    color: #290c29;
    height: 200px;
}

#about-team h2 {
    text-align: center;
    text-decoration: underline 1px solid #290c29;
    padding-bottom: 20px;
}

#left-team {
    width: 30%;
    float: left;
    height: 250px;
}

#left-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

#right-team {
    width: 30%;
    float: right;
    height: 250px;
}

#right-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

#center-team {
    width: 30%;
    margin: 0 auto;
    height: 150px;
}

#center-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.team-img p {
padding-left: 65px;
}


/* contact */

.form{
    width: 100%;
}

.contact-form {
    color: white;
    height: 500px;
    width: auto;
    padding-top: 200px;
    float: left;
    padding-left: 50px;
}

form {
    background-color: #290c29;
    padding: 20px;
    border-radius: 10%;
}

.form h1 {
    text-align: left;
    margin-bottom: 15px;
    color: white;
}

.tinput {
    border: 1px solid #290c29;
    margin: 5px 5px 5px 5px;
}

.tinput:hover {
    border: 1px dashed #290c29;
}

#contact-img {
    background-color: blue;
    width: 30%;
    height: 100px;
    float: right;
    margin-top: 350px;

}

